<form method="post" class="col-lg-5" action="{{ path('app_login') }}" onsubmit="return page.post(this, 'central-content', true); return false;">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    {% if error %}
        <div class="alert alert-danger">{% trans %}player.error.login.invalid{% endtrans %}{#{ error.messageKey|trans(error.messageData, 'security') }#}</div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal">{% trans %}page.login.title{% endtrans %}</h1>
    <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus />
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required />
    </div>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me" /> Remember me
        </label>
    </div>
    <button class="btn btn-primary" type="submit">
        Sign in
    </button>
</form>
<br />
<br />
<div>
    <a  href="{{ path('app_forgotten_password') }}" onclick="return page.call('/{% trans %}page.forgotten_password.hash{% endtrans %}'); return false;">{% trans %}page.forgotten_password.title{% endtrans %}</a>
</div>
