
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
!/public/build/.htaccess
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###

/public/puzzles
!/public/puzzles/.htaccess

composer.lock
up.sh
