body {
    background-color: #e0e0e0 !important;
    overflow: hidden;
    overflow-y: scroll;
}
.site-title {
	margin: 0px 0px 0px 0px;
	padding: 6px 0px 0px 6px;
}
.site-title a, .site-title a:hover {
	font-family: saginaw_bold;
	color: black;
	text-decoration: none;
	font-size: 48px;
	line-height: 56px;
}

/* TOP MENU >> */
@media screen and (min-width: 992px) {
	.lang-select .dropdown-menu {
		left: auto;
		right: 0;
	}
}
.dropdown-menu.show > .dropdown-item,
.dropdown-menu.show > .dropdown-item {
	color: rgba(0, 0, 0, 0.5);
}
.dropdown-menu.show > .dropdown-item.active,
.dropdown-menu.show > .dropdown-item:active {
	background-color: transparent;
	color: rgba(0, 0, 0, 0.9);
}
.dropdown-menu.show > .dropdown-item.active > .nav-link,
.dropdown-menu.show > .dropdown-item:active > .nav-link {
}
.lang-select .flag{
  padding: 0;
  margin: 1px;
  display: inline-block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  vertical-align: bottom;
}
.lang-select .flag.flag-en {
  background: url(../img/sprites.png) -5px -155px no-repeat;
  top: 28px;
}
.lang-select .flag.flag-fr {
  background: url(../img/sprites.png) -5px -185px no-repeat;
  top: 56px;
}
/* << TOP MENU */


#central-content.container {
	max-width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 56px;
}
#central-content.container form{
	padding: 0;
	margin: 0;
}
#central-content.container .row{
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
#central-content.container .container {
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.navbar-brand {
	font-family: saginaw_bold;
	font-size: 26px !important;
	line-height: 26px !important;
	width: 150px;
	margin: -4px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.navbar-brand.main {
	display: none;
}
.navbar-brand.secondary {
	display: block;
}
@media screen and (max-width: 991px) {
	.site-title {
		display: none;
	}
	.navbar-brand.main {
		display: block;
	}
	.navbar-brand.secondary {
		display: none;
	}
}
#central-content.shifted {
	margin-top: 56px;
}
span.d-block > span.form-error-icon.badge.badge-danger {
	display: none;
}

/* PUZZLE LIST >> */
#central-content div.row.puzzle-list {
	text-align: center;
}
#central-content div.row.puzzle-list > div.col {
}
/* << PUZZLE LIST */
