body {
    background-color: #e0e0e0 !important;
    overflow: hidden;
    overflow-y: scroll;
}
.site-title {
	margin: 0px 0px 0px 0px;
	padding: 6px 0px 0px 6px;
}
.site-title a, .site-title a:hover {
	font-family: saginaw_bold;
	color: black;
	text-decoration: none;
	font-size: 48px;
	line-height: 56px;
}
#central-content.container {
	max-width: 100%;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 56px;
}
#central-content.container form{
	padding: 0;
	margin: 0;
}
#central-content.container .row{
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
#central-content.container .container {
	max-width: 100%;
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
.navbar-brand {
	font-family: saginaw_bold;
	font-size: 26px !important;
	line-height: 26px !important;
	width: 150px;
	margin: -4px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.navbar-brand.main {
	display: none;
}
.navbar-brand.secondary {
	display: show;
}
#central-content.shifted {
	margin-top: 56px;
}
span.d-block > span.form-error-icon.badge.badge-danger {
	display: none;
}
