{# /templates/puzzles/create.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Create a Puzzle{% endblock %}

{% block body %}
        <div class="container">
            <h1>{% trans %}Create a puzzle{% endtrans %}</h1>
        </div>
        <div class="container">
            <div class="row">
                {{ form_start(form, {
                    'attr': {
                        'novalidate': 'novalidate',
                        'class': 'col-lg-5' 
                        }
                    })
                }}

                    {{ form_row(form.title) }}

                    <button type="submit" class="btn btn-primary">Créer</button>
                {{ form_end(form) }}
            </div>
        </div>
{% endblock %}
