<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tag('app') }}
            {{ encore_entry_link_tags('bst') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <img src="{{ asset('build/img/logo.png') }}">
        {% block body %}{% endblock %}
		{% block editPuzzle %}{%endblock%}
    </body>
</html>