{# /templates/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block body %}
        <div class="container">
            <h1 class="h3 mb-3 font-weight-normal">{% trans %}Home{% endtrans %}</h1>
        </div>
        <div class="container">
            <div class="row">
        </div>

{% endblock %}
