<div class="container">
        <h1 class="h3 mb-3 font-weight-normal">{% trans %}page.index.title{% endtrans %}</h1>
</div>
<div class="container">
    <div class="row">
    </div>
</div>
<script>
if(document.location.hash.length > 1) {
    page.from_hash2(document.location.hash);
} else {
    page.call('{{ path('homepage') }}', true);
}
</script>