<div class="container">
        <h1 class="h3 mb-3 font-weight-normal">{% trans %}page.index.title{% endtrans %}</h1>
</div>
<div class="container">
    <div class="row">
    </div>
</div>
<div class="modal fade" id="puzzleEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modal-title">Demo</h4>
            </div>
            <div id="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
